*,
:before,
:after {
	box-sizing: border-box;
}

html {
	@include miloot(400);
	color: $color_gray;
	background-color: $color_white;
	/* background-image: url( ../../images/bkg_big.jpg ); */
	background-position: center top;
	background-size: cover;
}

body{
	margin-bottom: 64px;
	@include breakpoint(horse) {
		margin-bottom: 0;
	}
}
// Links
a {
	color: $color_gray;
}
a:hover {
	color: $color_black;
}


// Images
img {
	display: block;
	height: auto;
	max-width: 100%;
}


// Typography
h1,
h2,
h3,
h4,
h5,
h5 {
	clear: both;
}

p {
	margin: 0 0 1.45em;
	font-weight: lighter;
	letter-spacing: 0.5px;
	line-height: 1.375;
}

li {
	font-weight: lighter;
	letter-spacing: 0.5px;
	line-height: 1.375;
}

blockquote {
	margin: 0 1.45em;
}

address {
	margin: 0 0 1.45em;
}

//Sem outline do focus, caso o usuário não use tab (main.js)
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.content{
	overflow: hidden;
	padding: 25px 0;
	@include breakpoint(horse) {
		padding: 8vw 0;
	}
}
.grad{
	&-up{
		background: $gradient_up;
	}
	&-down{
		background: $gradient_down;
	}
}

h2{
	@include miloot(400);
	font-size: 36px;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	color: $color_gray;
	margin-top: 0;
	@include breakpoint(horse) {
		font-size: 48px;
		letter-spacing: 3px;
	}
}

p{
	@include miloot(400);
	font-size: 16px;
	color: $color_gray;
	letter-spacing: 0;
	line-height: 22px;
}