@mixin ico ($x, $y, $w, $h){
	background-image: url(https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/images/spritesheet_mob.png);
	display: block;
	background-position: $x $y;
	width: $w;
	height: $h;
	margin: 0 auto;
	@include breakpoint(horse) {
		background-image: url(https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/images/spritesheet_desktop.png);
	}
}

@mixin navico ($x, $y, $w, $h){
	@include ico($x, $y, $w, $h);
	background-image: url(https://cdn.cyrela.com.br/Files/LP/morro-da-viuva/assets/images/spritesheet_desktop.png);
	margin-bottom: 5px;
	@include breakpoint(horse) {
		margin: 0 15px 0 0;
	}
}

.ico{
	&-cyrela{ @include ico(-52px, -20px, 100px, 41px);}
	&-yoo{ @include ico(-172px, -36px, 59px, 28px); }
	&-morro{ @include ico(-46px, -99px, 192px, 60px); }
	&-play { @include ico (-333px, -358px, 80px, 80px); }
	&-ext { @include ico(-52px, -197px, 12px, 12px); }
	&-sign { @include ico(-313px, -37px, 199px, 146px); }
	&-quote { @include ico(-545px, -31px, 42px, 40px); }
	&-bed { @include ico(-59px, -261px, 36px, 29px); }
	&-bath { @include ico(-142px, -260px, 36px, 42px); }
	&-area { @include ico(-60px, -395px, 34px, 31px); }
	&-car { @include ico(-142px, -395px, 36px, 34px); }
	&-cyrela-ach { @include ico(-337px, -238px, 112px, 46px); }
	&-yoo-ach { @include ico(-493px, -243px, 73px, 34px); }

	@include breakpoint(horse){
		&-cyrela{ @include ico(-38px, -26px, 167px, 70px);}
		&-yoo{ @include ico(-323px, -53px, 99px, 46px); }
		&-morro{ @include ico(-803px, -380px, 285px, 89px); }
		&-play { @include ico (-43px, -166px, 80px, 80px); }
		&-ext { @include ico(-579px, -412px, 12px, 12px); }
		&-sign { @include ico(-44px, -321px, 405px, 298px); }
		&-quote { @include ico(-223px, -186px, 42px, 40px); }
		&-bed { @include ico(-559px, -38px, 63px, 51px); }
		&-bath { @include ico(-722px, -16px, 63px, 73px); }
		&-area { @include ico(-885px, -35px, 60px, 54px); }
		&-car { @include ico(-1055px, -32px, 60px, 58px); }
		&-cyrela-ach { @include ico(-546px, -156px, 200px, 82px); }
		&-yoo-ach { @include ico(-832px, -165px, 130px, 60px); }
		&-cadastro { @include ico(-515px, -489px, 555px, 50px); }
	}
}