.site-view{
	@include breakpoint(horse) {
		padding:0 0 45px 0;
	}
	h2{
		margin-bottom: 55px;
		@include breakpoint(horse) {
			max-width: 400px;
		}
	}

	.icos-wrapper {
		@include breakpoint(horse) {
			padding-top: 20px;
		}
	}
	&_icos{
		text-align: center;
		height: 95px;

		@include breakpoint(horse) {
			height: auto;
		}

		p {
			margin: 5px 0 0 0;
		}

		i {
			min-height: 45px;
			@include breakpoint(horse) {
				min-height: 70px;
			}
		}
	}

	&_gallery{
		width: 100%;
		height: 120vw;
		@include breakpoint(horse) {
			width: 100%;
			height: auto;
			max-height: 900px;
			overflow: hidden;
			margin: 0;
			img{
				width: 100%;
			}
		}
		figcaption{
			text-align: center;
			margin-top: 10px;
			@include breakpoint(horse) {
				text-align: right;
				margin-top: -60px;
				margin-right: 5vw;
			}
			p{
				@include gotham(400);
				font-size: 14px;
				color: $color_gray;
				letter-spacing: 0;
				line-height: 24px;
				@include breakpoint(horse) {
					color:#fff;
				}
			}
		}
		.slick{
			&-arrow{
				@include ico(-230px, -260px, 52px, 52px);
				background-color: transparent;
				border: none;
				position: absolute;
				top: calc(100vw / 2 - 20px);
				font-size: 0;
				height: 52px;
				width: 52px;
				cursor: pointer;
				border-radius: 50%;
				z-index: 1;
				&:hover{
					background-color: rgba(255, 255, 255, 0.4);
				}
				@include breakpoint(horse) {
					@include ico(-696px, -392px, 52px, 52px);
					top: 50%;
				}
			}
			&-prev{
				left: 15px;
				transform:rotate(180deg);
			}
			&-next{
				right: 15px;
			}
		}
	}
}