.site-about{
	&_text{
		@include breakpoint(horse) {
			display: inline-block;
		}
		p{
			@include breakpoint(horse) {
				max-width: 34vw;
			}
		}
		a{
			@include miloot(500);
			font-size: 14px;
			color: $color_gray;
			letter-spacing: 0;
			line-height: 20px;
			text-decoration: none;
			vertical-align: top;
			display: block;
			margin-bottom: 33px;
			width: 240px;
		}
		.ico-ext, .ico-arrw{
			display: inline-block;
			margin-right: 8px;
		}
		.ico-arrw{
			height: 8px;
			width: 8px;
			margin-left: 8px;
			&:after{
				content: "";
				display: block;
				height: 8px;
				width: 8px;
				transform: rotate(45deg);
				border-right: 1px solid $color_gray;
				border-top: 1px solid $color_gray;
			}
		}
	}
	.ico-sign{
		@include breakpoint(horse) {
			display: inline-block;
			float: right;
		}
	}
}