.site-quote{
	.ico-quote{
		margin-bottom: 30px;
		margin-left: 0;
		@include breakpoint(horse) {
			margin-bottom: 20px;
		}
	}
	&_block{
		@include breakpoint(horse) {
			max-width: 36vw;
			display: inline-block;
			vertical-align: top;
		}
	}
	&_text{
		@include gotham(400);
		font-style: italic;
		font-size: 18px;
		color: $color_gray;
		letter-spacing: 0;
		line-height: 24px;
		margin-bottom: 20px;
		@include breakpoint(horse) {
			@include miloot(400);
		}
	}
	h4{
		@include miloot(500);
		font-size: 24px;
		color: $color_gray;
		letter-spacing: 0;
		line-height: 24px;
		margin:0;
		@include breakpoint(horse) {
			font-size: 28px;
			margin-bottom: 10px;
		}
	}
	p{
		@include gotham(400);
		font-size: 14px;
		color: $color_gray;
		letter-spacing: 0;
		line-height: 20px;
		margin-bottom: 0;
	}
	&_img{
		display: none;
		position: relative;
		@include breakpoint(horse) {
			display: inline-block;
			img{
			    width: auto;
			    max-width: 100%;
			    height: auto;
			}
			&:before{
			    position: absolute;
			    display: block;
			    content: '';
			    width: 300px;
				height: 2px;
				left: -96px;
				top: 85px;
			    background: rgba(0,0,0,.3);
				transform: rotate(-58deg);
				@include breakpoint(1200px) {
					width: 400px;
					height: 2px;
					left: -144px;
					top: 120px;
				}
			}
		}
	}
}

// &:before{
// 	position: absolute;
// 	display: block;
// 	content: '';
// 	width: 400px;
// 	height: 2px;
// 	left: -144px;
// 	top: 120px;
// 	background: rgba(0,0,0,.3);
// 	transform: rotate(-58deg);
// }