// Layout
$padding: 24px;

// Text
$text_selection_color: gray;

// Colors
$color_white: #efefef;
$color_black: #101010;
$color_gray: #515056;
$color_gold: #8c734a;

$gradient_up: linear-gradient(to bottom, #E6E6E6 0%, #FFFFFF 100%);
$gradient_down: linear-gradient(to top, #E6E6E6 0%, #FFFFFF 100%);